<div id="wrapper-card">
    <header>
        <div>
            <img [routerLink]="['/main/disciplines']" src="{{ ASSETS_DIR }}/left-arrow.svg" alt="" width="24" height="24"/>
            <h1>{{ discipline?.name }}</h1>
        </div>
        <h3>Professor(a): {{ discipline?.teacher.name }}</h3>
    </header>
    <main>
        <div *ngFor="let schedule of discipline?.schedules" class="schedule-box">
            <header>
                {{ schedule.weekday }}
            </header>
            <main>
                {{ schedule.starts }}<br>até<br>{{ schedule.ends }}
            </main>
        </div>
    </main>
    <footer>
        <h4>Dificuldade: {{ discipline?.difficulty }}</h4>
        <img src="{{ASSETS_DIR}}/books.png" alt="books" width="220" height="240"/>
    </footer>
</div>
